
.frame{
    position:relative;
}
.aframe1
{
    color:#eee;
    font-size:12px;
    position:absolute;
    top:0px;
}
.aframe2{
    color:#eee;
    font-size:12px;
    position:absolute;
    top:14px;
}
.frdivst{
    position:relative;
    overflow:hidden;
    width: 560px;
    height: 400px;
    margin: 20px
}
.map{
    box-shadow: 10px 10px 0px rgb(247, 161, 2), -10px -10px 0px rgb(199, 0, 0);
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding-bottom: 30px;
}

.ash{
    margin-top: 0px;
}
.fs{
    font-Size: 70px;
}